{% extends 'base.html.twig' %}
{% block header %}
    {{include('partials/_header.html.twig')}}
{% endblock %}
{% block title %}Snowtricks - S'enregistrer{% endblock %}

{% block body %}
    <h1 class="form__title">S'enregistrer</h1>
    {{form_start(form,{'attr':{'class':'form'}})}}
        <div class="form__group form__group__attachment">
            <img id="preview" width="200px" height="200px">
            {{form_widget(form.attachment)}}
            {{form_label(form.attachment)}}
        </div>
        <div class="form__group">
            {{form_label(form.name)}}
            {{form_widget(form.name)}}
            <div class="form__group__error">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="form__group">
            {{form_label(form.email)}}
            {{form_widget(form.email)}}
            <div class="form__group__error">
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="form__group">
            {{form_label(form.plainPassword.first)}}
            {{form_widget(form.plainPassword.first)}}
            <div class="form__group__error">
                {{ form_errors(form.plainPassword.first) }}
            </div>
            {{form_label(form.plainPassword.second)}}
            {{form_widget(form.plainPassword.second)}}
            <div class="form__group__error">
                {{ form_errors(form.plainPassword.second) }}
            </div>
        </div>
        {# <input type="hidden" name="_token" value="{{ csrf_token('user-token') }}"/> #}
        {# {{form_widget(form._token)}} #}
        {{form_rest(form)}}
    {{form_end(form)}}
{% endblock %}
