{% extends 'base.html.twig' %}
{% block header %}
    {{include('partials/_header.html.twig')}}
{% endblock %}
{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
	<h1 class="form__title">Entrez votre nouveau mot de passe</h1>
	{{form_start(form,{'attr':{'class':'form'}})}}
		<div class="form__group">
            {{form_label(form.plainPassword.first)}}
            {{form_widget(form.plainPassword.first)}}
            <div class="form__group__error">
                {{ form_errors(form.plainPassword.first) }}
            </div>
            {{form_label(form.plainPassword.second)}}
            {{form_widget(form.plainPassword.second)}}
            <div class="form__group__error">
                {{ form_errors(form.plainPassword.second) }}
            </div>
        </div>
		{{form_rest(form)}}
	{{form_end(form)}}
{% endblock %}
