<aside id="modal2" class="modal edit" aria-hidden="true" role="dialog" aria-labelledby="modal__wrapper__title" style="display:none">
    <div class="modal__wrapper js-modal-stop">
        <div class="modal__wrapper__img">
            <button class="modal__wrapper__img__close js-modal-close">X</button>
            <a href="{{path('app_admin_edit_image_trick',{'id' : trick.id})}}" class="modal__wrapper__img__edit modal__wrapper__img__edit__mainImage" data-id="{{trick.id}}"></a>
            <img src="{{asset('snowtricks/tricks/' ~ trick.mainImage)}}" alt="modal__header">
            <form id="{{'formtricks-img-mainImage-' ~ trick.id}}">
                <input name="file" id="{{'trick-image-btn-mainImage-' ~ trick.id}}" type="file" accept="image/png, image/jpeg" hidden data-id="{{trick.id}}" data-asset="{{asset('snowtricks/tricks/')}}">
                <button type="submit" class="form__img__submit" hidden></button>
            </form>
            <div class="modal__wrapper__img__title">
                <p>{{trick.name}}</p>
            </div>
        </div>
        <div class="modal__wrapper__body">
            <h1 class="modal__wrapper__title">
            <div class="form__group">
                <input type="text" name="trick__title" id="trick__title" value="{{trick.name}}" >
            </div>
            </h1>
            <div class="modal__wrapper__body__medias">
                <div class="modal__wrapper__body__medias__images" data-token={{csrf_token('image')}}>
                    <div class="modal__wrapper__body__medias__choose">
                        <div class="modal__wrapper__body__medias__choose__content">
                            <img class="modal__wrapper__body__medias__choose__content__img" src="" alt="">
                            <div class="modal__wrapper__body__medias__choose__content__text">Aucun fichier selectionner!</div>
                            <div class="modal__wrapper__body__medias__choose__content__cancel">X</div>
                            <div class="modal__wrapper__body__medias__choose__content__file">Le nom du fichier</div>
                        </div>
                        <form id="form__img">
                            <input name="file" accept="image/png, image/jpeg" id="medias-btn" type="file" hidden data-id="{{trick.id}}" data-asset="{{asset('snowtricks/tricks/')}}">
                            <button type="submit" class="form__img__submit" hidden></button>
                        </form>
                        <button class="modal__wrapper__body__medias__choose__btn" >Choisir une image</button>
                    </div>
                    {% for image in trick.images %}
                        <div class="{{"form__img__trick__submit__" ~ image.id}}">
                            <form id="{{'formtricks-img-' ~ image.id}}">
                                <input name="file" id="{{'trick-image-btn-' ~ image.id}}" type="file" hidden data-id="{{image.id}}" data-asset="{{asset('snowtricks/tricks/')}}">
                                {# <button type="submit" hidden></button> #}
                            </form>
                            <img src="{{asset('snowtricks/tricks/' ~ image.path)}}">
                            <div class="modal__wrapper__body__medias__actions">
                                <a href="{{path('app_admin_edit_image',{'id' : image.id})}}" class="edit__img btn__modal__edit" data-id={{image.id}} ></a>
                                <a href="{{path('app_admin_delete_image',{'id' : image.id})}}" class="delete__img btn__modal__delete" data-token="{{csrf_token('delete' ~ image.id)}}"></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal__wrapper__body__medias__videos" data-token={{csrf_token('video')}}>
                    <div>
                        <form class="formtricks__video">
                            <div class="form__group__video__item">
                                <label for="tricks_videos_url" class="form__group__video__item__label">Iframe de la video</label>
                                <div class="form__group__action">
                                    <textarea id="tricks_videos_url" name="tricks__videos__url" class="form__group__iframe"></textarea>
                                </div>
                            </div>
                        </form>
                        <button class="modal__wrapper__body__medias__choose__btn__video" data-id="{{trick.id}}" >Choisir une video</button>
                    </div>
                    {% for video in trick.videos %}
                        <div class="{{'video__parent__' ~ video.id}}">
                            <iframe allowfullscreen frameborder="0" src="{{video.url}}" allow="autoplay; encrypted-media"></iframe>
                            <textarea name="trick__video__url" class="trick__video__textarea hide" id="{{'trick__video__url__' ~ video.id}}" ></textarea>
                            <div class="modal__wrapper__body__medias__actions">
                                <a href="{{path('app_admin_edit_video',{'id': video.id })}}" class="btn__modal__edit" data-id="{{video.id}}"></a>
                                <a href="{{path('app_admin_delete_video',{'id': video.id })}}" class="btn__modal__delete"  data-id="{{video.id}}"></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal__wrapper__body__tags">
                <p>
                    Catégorie(s):
                    {% for categorie in trick.categories %}
                        <span>{{categorie.name}}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="modal__wrapper__body__date">
                <p>{{ trick.createdAt|date("d/m/Y") }}</p>
            </div>
            <div class="modal__wrapper__body__description form__group">
                <textarea name="trick__description" id="trick__description" cols="30" rows="10">
                    {{trick.description|trim|capitalize}}
                </textarea>
            </div>
            <div class="modal__wrapper__body__actions">
                <a href="{{path("app_admin_delete_trick",{'id':trick.id})}}" class="delete__trick btn btn__error" id="{{'trick-modal-delete-' ~ trick.id}}">Supprimer</a>
                <a href="#" class="btn btn__primary">Enregistrer</a>
            </div>
        </div>
    </div>
</aside>