{% extends 'base.html.twig' %}
{% block title %}Snowtricks - Créer un trick{% endblock %}
{% block header %}
    {{include('partials/_header.html.twig')}}
{% endblock %}
{% block body %}
    <h1 class="form__title">Créer un trick</h1>
    {{form_start(form,{'attr':{'class':'form'}})}}
        <div class="form__group">
            {{form_label(form.name)}}
            {{form_widget(form.name)}}
            <div class="form__group__error">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="form__group">
            {{form_label(form.description)}}
            {{form_widget(form.description)}}
            <div class="form__group__error">
                {{ form_errors(form.description) }}
            </div>
        </div>
        <div class="form__group">
            {{form_label(form.group)}}
            {{form_widget(form.group)}}
            <div class="form__group__error">
                {{ form_errors(form.group) }}
            </div>
        </div>
        <div 
            class="form__group"
            id="images__list"
            data-prototype="{{form_widget(form.images.vars.prototype)|e('html_attr')}}"
        >
            {% for image in form.images %}
                <div class="form__group form__group__attachment">
                    {{form_widget(image.path)}}
                    {{form_label(image.path)}}
                </div>
            {% endfor %}
        </div>
        <div 
            class="form__group"
            id="videos__list"
            {# data-prototype="{{form_row(form.videos.vars.prototype.url,{'row_attr':{'class' : 'form__group__video__item'}})|e('html_attr')}}" #}
            data-label="{{form_label(form.videos.vars.prototype.url)|e('html_attr')}}"
            data-input="{{form_widget(form.videos.vars.prototype.url)|e('html_attr')}}"
        >
        {# <span class="form__group__videos__list"></span> #}
            {% for video in form.videos %}
                <div class="form__group__video__item" data-delete="{{video.url.vars.id}}">
                    {{form_label(video.url)}}
                    <div class="form__group__action">
                        {{form_widget(video.url)}}
                        <a class="form__group__video__delete" data-id="{{video.url.vars.id}}">X</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="form__group">
            <a class="btn btn__success form__group__video__add">Ajouter</a>
        </div>
        {{form_rest(form)}}
    {{form_end(form)}}
{% endblock %}
