{% extends 'base.html.twig' %}
{% block title %}Snowtricks - Éditer un trick{% endblock %}
{% block header %}
    {{include('partials/_header.html.twig')}}
{% endblock %}
{% block body %}
    <h1 class="form__title">Éditer un trick</h1>
    {{form_start(form,{'attr':{'class':'form','method':'POST'}})}}
        <div class="form__group form__group__attachment__header">
            <img id="preview" width="800px" height="300px">
            {{form_widget(form.mainImage)}}
            {{form_label(form.mainImage)}}
            <div class="form__group__error__format">{{form_errors(form.mainImage)}}</div>
        </div>
        <div class="form__group">
            {{form_label(form.name,'Nom')}}
            {{form_widget(form.name)}}
            <div class="form__group__error">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="form__group">
            {{form_label(form.description)}}
            {{form_widget(form.description)}}
            <div class="form__group__error">
                {{ form_errors(form.description) }}
            </div>
        </div>
        <div class="form__group">
            {{form_label(form.categories,'Catégorie')}}
            {{form_widget(form.categories)}}
            <div class="form__group__error">
                {{ form_errors(form.categories) }}
            </div>
        </div>
        <div class="form__group__files">
            <div 
                class="form__group"
                id="image__list"
                data-label="{{form_label(form.images.vars.prototype.path)|e('html_attr')}}"
                data-input="{{form_widget(form.images.vars.prototype.path)|e('html_attr')}}"
                data-id="{{form.images.vars.prototype.path.vars.id}}"
            >
                {% for image in form.images %}
                    <div class="form__group__image__item" data-delete="{{image.path.vars.id}}">
                        {{form_label(image.path)}}
                        <div class="form__group__action">
                            {{form_widget(image.path)}}
                            <a class="form__group__image__delete" data-id="{{image.path.vars.id}}">X</a>
                        </div>
                    </div>
                <div class="form__group__error__format">{{form_errors(image.path)}}</div>
                {% endfor %}
                <div class="form__group">
                    <a class="btn btn__success form__group__image__add">Ajouter</a>
                </div>
            </div>
            <div 
                class="form__group"
                id="video__list"
                data-label="{{form_label(form.videos.vars.prototype.url)|e('html_attr')}}"
                data-input="{{form_widget(form.videos.vars.prototype.url)|e('html_attr')}}"
                data-id="{{form.videos.vars.prototype.url.vars.id}}"
            >
                {% for video in form.videos %}
                    <div class="form__group__video__item" data-delete="{{video.url.vars.id}}">
                        {{form_label(video.url)}}
                        <div class="form__group__action">
                            {{form_widget(video.url)}}
                            <a class="form__group__video__delete" data-id="{{video.url.vars.id}}">X</a>
                        </div>
                        <div class="form__group__error__format">{{form_errors(video.url)}}</div>
                    </div>
                {% endfor %}
                <div class="form__group">
                    <a class="btn btn__success form__group__video__add">Ajouter</a>
                </div>
            </div>
        </div>
    {{form_end(form)}}
{% endblock %}
